################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/LineRenderer/bin
/LineRenderer/obj
*.user
